services:
  - type: web
    name: hydra-tiktok-extractor
    env: node
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
    plan: free
    autoDeploy: true
    healthCheckPath: /ping